<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gqz.goods.dao.ParaMapper">

    <select id="findByCategoryId" resultType="com.gqz.goods.pojo.Para" parameterType="integer">
        SELECT p.*
        FROM tb_category c
                 JOIN tb_para p on c.template_id = p.template_id
        WHERE c.id = #{id}
    </select>
</mapper>